* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --cream-color: #b69d7f;
  --brown-color: #403133;
  --light-brown-color: #655847;
  --dark-color: #191516;
}
html,
body {
  width: 100%;
  overflow-x: hidden !important;
  padding-right: 0px !important;
}
/* Common Class */
.background-color-cream {
  background: var(--cream-color);
}
.background-color-brown {
  background-color: var(--brown-color);
}
.background-color-dark {
  background-color: var(--dark-color);
}
.background-color-light-brown {
  background-color: var(--light-brown-color);
}
.text-color-light {
  color: var(--cream-color);
}
.text-color-dark {
  color: var(--dark-color);
}

/* =============== Loader Start ==================== */
.page-loader {
  /* background: rgb(19, 9, 9); */
  transition: opacity 1s ease, visibility 1s ease;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
.loader {
  animation: rotate 2s infinite;
  z-index: 9999;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.page-loader.hidden {
  opacity: 0;
  visibility: hidden;
}
/* =============== Loader End ==================== */

/* =========== Company Name Start ============ */
/* .bg-gif {
  height: 100vh;
  width: auto;
  background-image: url(./component/assets/img/background/backgroung-img.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* .bg-gif::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    rgba(182, 157, 127, 0.4),
    rgba(101, 88, 71, 0.4),
    rgba(64, 49, 51, 0.4)
  );
  z-index: 1;
} */
.company-back {
  height: 100vh;
  width: auto;
  background-image: url(./component/assets/img/background/back-ground.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.company-logo img {
  height: 120px;
  filter: drop-shadow(15px 10px 4px var(--cream-color));
}
.animated-text {
  font-size: 7vw;
  text-shadow: 10px 10px 10px var(--cream-color);
}
/* text animation */
.cursor {
  position: relative;
  /* width: 24em; */
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 3vw;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
/* Animation */
.typewriter-animation {
  animation: typewriter 5s steps(50) 1s 1 normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}
@keyframes blinkingCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width: 768px) {
  .header-logo img {
    height: 60px;
  }
  .nav-text {
    font-size: small;
  }
  h2 {
    font-size: 1rem;
  }
  .item {
    height: 100px; /* Further reduce height */
  }
  .scrollable-slider {
    height: auto; /* Allow height to adjust */
  }
  .company-logo img {
    height: 90px;
  }
  .animated-text {
    font-size: 10vw;
  }
  .footer-title {
    font-size: 15px;
  }

  .cursor {
    font-size: 5vw;
  }
  .technology-title {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .item {
    height: 80px; /* Adjust height for mobile */
  }
  .company-logo img {
    height: 70px;
  }
  .about-img img {
    height: auto;
    max-width: 100%;
  }
  .animated-text {
    font-size: 9vw;
  }
  .cursor {
    font-size: 4vw;
  }
}

/* =========== Company Name Start ============ */

/* =============== Header Start ================= */
.spacing-title {
  letter-spacing: 5px;
}
.header-logo img {
  height: 60px;
  /* width: auto; */
}
.header-bottom-line {
  height: 5px;
  width: 100%;
}
.header.show {
  transform: scaleY(1);
}
.header {
  transform: scaleY(0);
  transition: transform 0.8s ease-in-out;
}

/* =============== Header End ================= */

/* =============== Home Page Start ============ */
.item img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.item {
  height: 140px;
  margin-top: 2px;
  transform: scale(0.7, 0.7);
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slick-center > div > div {
  transform: scale(0.9, 1);
  opacity: 1;
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slick-slide {
  height: 140px;
}
.image-container{
  height: 100vh;
}
.image-container img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.scrollable-slider {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  cursor: pointer;
}
::-webkit-scrollbar {
  display: none;
}
 
 

/* =============== Home Page End ============ */

/* =========== Footer Start   ============ */
.logo img {
  height: 70px;
}
.bg-body-tertiary.show {
  transform: rotateY(0deg) scale(1);
}
.bg-body-tertiary {
  background-color: var(--dark-color) !important;
  transform: rotateY(360deg) scale(0);
  transition: transform 0.8s ease-in-out;
}
.navbar-brand,
.nav-link {
  letter-spacing: 2px;
  color: var(--cream-color) !important;
}
.nav-link:hover {
  color: var(--light-brown-color) !important;
}
.social-icon {
  background: var(--cream-color);
  color: var(--dark-color);
  padding: 5px;
}
.social-icon:hover {
  color: var(--light-brown-color);
}
/* =========== Footer End   ============ */

/* ======== Menu Button Start ======== */
.fixed-button {
  position: fixed;
  right: 0;
  bottom: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.fixed-button .btn {
  border-radius: 30px 0px 0px 30px;
  text-decoration: none;
  pointer-events: all;
}
.btn:hover {
  background-color: var(--cream-color);
}
.fixed-button .additional-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.fixed-button .additional-buttons.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.fixed-button .additional-buttons .btn {
  position: absolute;
  border-radius: 25px;
}
.fixed-button .additional-buttons .btn.top {
  right: 5px;
  top: -100px;
}
.fixed-button .additional-buttons .btn.right {
  right: 53px;
  top: -35px;
}

.fixed-button .additional-buttons .btn.bottom {
  right: 1px;
  top: 40px;
}
.fixed-logo {
  animation: spin 4s linear infinite;
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ======== Menu Button End   ========= */

/* ============ What-We-Do Start =========== */

.gradient-bg {
  background-image: linear-gradient(
    to bottom right,
    hwb(33 50% 29%),
    #655847,
    #403133
  );

  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li {
  width: 6px;
  margin: 0 auto;
  background-color: var(--cream-color);
}
.timeline ul li.in-view {
  background-color: var(--brown-color);
}
.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
  transition: background 0.8s ease-in-out;
}
.timeline ul li div {
  width: 400px;
  height: auto;
}
.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li:nth-child(odd) div {
  left: 45px;
}
.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--brown-color) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--brown-color);
}
/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li.in-view::after {
  background: var(--cream-color);
}
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}
.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}
.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}
/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* media query */
@media screen and (max-width: 1024px) {
  .home-sec{
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .image-container{
    width: 100%;
    height: 100%;
  }

  .scrollable-slider{
    height: 50vh;
    padding: 10px;
  }
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}
 
 
@media screen and (max-width: 998px) {
  .home-sec{
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .image-container{
    width: 100%;
    height: auto;
  }
  .scrollable-slider{
    height: auto;
    padding: 10px;
  }
}
 
 
@media screen and (max-width: 600px) {
  .home-sec{
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .image-container{
    width: 100%;
    height: auto;
  }
  .scrollable-slider{
    height: auto;
    padding: 10px;
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--brown-color) transparent transparent;
  }
}
 
/* ============ What-We-Do End =========== */

/* SOcial-Icons Start */
.social-btn {
  cursor: pointer;
  color: var(--brown-color);
  width: 40px;
  height: 40px;
  border-radius: 30%;
  background-color: var(--cream-color);
  border: 2px solid #2d2e32;
  transition: all 0.45s;
}

.social-btn:hover {
  transform: rotate(360deg);
  transform-origin: center center;
  color: var(--light-brown-color);
}

.social-btn:hover .btn-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg)
    brightness(103%) contrast(103%);
}
/* Social-Icons End */

/* ----------- Technologies Start ------------ */
.node-bg-img {
  background-image: url(./component/assets/img/about/about-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.tecnology-card {
  width: 75%;
  max-width: 230px;
  border-radius: 20px;
}

.technology-title {
  line-break: normal;
}
.tecnology-card-logo {
  width: 65%;
  margin: 10px 0px;
  border-radius: 0px 50px 50px 0px;
}
.techno-logo img {
  height: 45px;
}
.tecnology-card-logo::before {
  content: "";
  width: 35px;
  height: 90px;
  position: absolute;
  left: -33px;
  top: 0px;
  border-radius: 50px 0px 0px 50px;
  z-index: 1;
  background: -moz-linear-gradient(
    bottom,
    var(--brown-color),
    var(--cream-color)
  );
}

.tecnology-card-logo::after {
  content: "";
  width: 25px;
  height: 35px;
  position: absolute;
  left: -22px;
  top: 50px;
  border-radius: 50px 0px 0px 50px;
  z-index: 1;
}
img.technocardimgItem {
  width: 40%;
  height: auto;
  max-width: 100%;
}
.technology-card-bg {
  background: var(--cream-color);
  box-shadow: 4px 4px 4px var(--brown-color);
}
.tecnology-logo-bg {
  background: #a7947b;
  background: -webkit-linear-gradient(right, #8c7d69, var(--brown-color));
  background: -moz-linear-gradient(right, #8f7f69, var(--brown-color));
  background: linear-gradient(to left, #9c8a72, var(--brown-color));
  box-shadow: 0px 2px 2px var(--brown-color);
}
.tecnology-logo-bg::before {
  background: var(--brown-color);
}
.tecnology-logo-bg::after {
  background: #554547;
}
.techno-btn {
  background-color: var(--brown-color);
  border: 2px solid var(--brown-color);
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}
.techno-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--brown-color);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.techno-btn:hover::before {
  scale: 3;
}
.techno-btn:hover {
  color: var(--cream-color);
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(119, 106, 78, 0.4);
}
.techno-btn:active {
  scale: 1;
}
.slick-list {
  overflow: visible !important;
}

/* General styling for all screen sizes */
.tecnology-card {
  position: relative !important;
  transition: all 0.3s ease !important;
}

.tecnology-card-logo img {
  max-width: 100px !important; /* Adjust size as needed */
}

.technocardimgItem {
  max-width: 200px !important; /* Adjust image size based on content */
}

/* For small devices (phones) */
@media (max-width: 576px) {
  .tecnology-card:nth-child(1) {
    right: 0 !important;
  }

  .tecnology-card:nth-child(2) {
    right: 0 !important;
    bottom: 20px !important;
  }

  .tecnology-card:nth-child(3) {
    left: 0 !important;
    bottom: 40px !important;
  }

  .tecnology-card:nth-child(4) {
    left: 0 !important;
    bottom: 60px !important;
  }

  .tecnology-card:nth-child(5) {
    left: 0 !important;
    bottom: 80px !important;
  }
}

/* For medium devices (tablets) */
@media (min-width: 576px) and (max-width: 992px) {
  .tecnology-card:nth-child(1) {
    right: 60px !important;
  }

  .tecnology-card:nth-child(2) {
    right: 40px !important;
    bottom: 50px !important;
  }

  .tecnology-card:nth-child(3) {
    left: 45px !important;
    bottom: 100px !important;
  }

  .tecnology-card:nth-child(4) {
    left: 120px !important;
    bottom: 50px !important;
  }

  .tecnology-card:nth-child(5) {
    left: 190px !important;
  }
}

/* For large devices (desktops) */
@media (min-width: 992px) {
  .tecnology-card:nth-child(1) {
    right: 123px !important;
  }

  .tecnology-card:nth-child(2) {
    right: 40px !important;
    bottom: 50px !important;
  }

  .tecnology-card:nth-child(3) {
    left: 45px !important;
    bottom: 110px !important;
  }

  .tecnology-card:nth-child(4) {
    left: 120px !important;
    bottom: 50px !important;
  }

  .tecnology-card:nth-child(5) {
    left: 190px !important;
  }
}

/* ----------- Technologies End ------------ */

/* ---------- Terminal Button Start  ------------*/

.animated-text-2 {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  /* border-right: 2px solid var(--cream-color); 
  padding-right: 5px; */
  animation: type steps(50) 1.5s 1 normal both, cursor 1s step-end infinite;
}
@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
@keyframes cursor {
  50% {
    border-color: var(--cream-color);
  }
}
.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
.terminal-icon {
  font-size: 60px;
}
.terminal-btn {
  position: fixed;
  bottom: 12%;
  right: 4%;
}
/* .form-floating > {
  left: 10px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden !important;
} */
@media screen and (max-width: 2757px) and (min-width: 920px) {
  .modal-dialog {
    position: fixed;
    max-width: 600px;
    top: calc(8%);
    left: calc(60%);
    margin-right: 30px;
    background-color: none !important;
  }
}
/* Terminal Button End */
/* ============= Course Start ================= */
.course-card {
  min-height: 600px;
}

/* ============= Course End ================= */

/* =============== Team Start ================= */
.tagline {
  font-size: 20px;
  letter-spacing: 4px;
}
.image-accordion {
  position: relative;
  z-index: 2;
  gap: 16px;
  cursor: pointer;
  font-family: "Euclid Circular A", "Poppins";
}

.image-accordion-item {
  position: relative;
  overflow: hidden;
  width: 180px;
  height: 300px;
  border-radius: 36px;
  display: flex;
  align-items: flex-end;
  opacity: 0.9;
  transition: 0.5s;
}

.image-accordion-item:hover {
  opacity: 0.75;
}

.image-accordion-item h2 {
  font-size: 24px;
  font-weight: 400;
  color: rgb(255 255 255 / 96%);
}

.image-accordion-item p {
  color: rgb(255 255 255 / 66%);
}

.image-accordion-item.active {
  width: 300px;
  opacity: 1;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(0 0 0 / 10%), rgb(0 0 0 / 100%));
  transition: 0.25s;
}

.image-accordion-item.active .content {
  opacity: 1;
  visibility: visible;
}

.image-accordion-item img {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 100%;
  filter: grayscale(0.3);
}
/* =============== Team End ================= */
/* =============== Feedback End ================= */
.feedback-box {
  background-color: var(--dark-color);
  opacity: 0.5;
}
.profile {
  background-color: var(--cream-color);
  color: var(--cream-color);
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.feedback-content {
  font-size: 20px;
  color: #ffffff;
}
.feedback-btn {
  text-decoration: none;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--dark-color);
  color: var(--cream-color);
}
.feedback-btn:hover {
  background-color: var(--cream-color);
  color: var(--dark-color);
}
/* =============== Feedback End ================= */
/* Course Start */
.course-video{
  background: url(./component/assets/img/course/Digital\ marketing\ Video.gif) no-repeat center center;
  height: 85vh;
  width: auto;
  background-size: contain;
  overflow: hidden;
}