a{
  text-decoration: none;
  color: black;
}
.bg{
  background-color: #B39CC7;
}


/* Buttton Start */


.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e17ae;
  background-image: linear-gradient(315deg, #7199EF 0%, #624FF2 74%);
  transition: all 0.3s ease;
}
.btn-9:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}



.theme-btn{
  font-size: 16px;
  color: #EDEAF5;
  padding: 12px 20px;
  transition: all 0.5s;
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 20px 0px 20px 0px;
  background-color: #554D74;
  box-shadow: 0 3px 24px rgb(0 0 0 / 12%);
}
.theme-btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid #554D74;
  border-radius: 20px 0px 20px 0px;
  top: 5px;
  left: 5px;
  transition: all 0.5s ease-in-out;
}
.theme-btn:hover::before {
  left: 0;
  top: 0;
}

/* Navbar Start */
.navbar-nav {
    font-family: serif;
    font-size: 19px;
    gap: 22px;
}
.bg-color{
  background-color: rgba(8, 7, 7, 0.4);
}
.bg-color-transparent{
  background-color: rgba(179, 156, 199,0.4);
}
/* About Start */

#Box {
  background: rgba(0, 0, 0, 0.7)
    url("./component//assets//images/about/about-bg.jpg");
  background-size: cover;
  background-blend-mode: darken;
  position: relative;
  padding: 5px 0;
  background-attachment: fixed;
  box-sizing: border-box;
}



/* Home Start */
.carousel-item{
  width: 100%;
  height: 100vh;
}
.carousel-item img{
  width: 100%;
  height: 100%;
}
.content{
  width: 50%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

/* Service Start */
.bg-service{
  background-color: #EDEAF5;
}
.service-form{
  border-radius: 0px 90px 0px 0px;
}
.shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.icon-social a {
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  border: 2px solid  #EDEAF5;
  color:  #EDEAF5;
  /* padding: 8px; */
  border-radius: 50px;
  display: inline-block;
  margin: 8px;
}
.icon-social a:hover {
  background: #EDEAF5;
  color:  #B39CC7;
}
/* Course Start */

.border-bottom{
  border-bottom-right-radius: 50%;
}
.bg-card1{
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.bg-card2{
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.bg-card3{
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);}
.bg-card4{
  background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.bg-card5{
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);}
.bg-card6{
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}
