body{
  overflow-x: hidden;
}
html {
  /* Create a snapping rule on the html element */
  scroll-snap-type: y mandatory;
}
section{
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
a{
  text-decoration: none;
  color: black;
}
/* Background colors */
.bg{
  background-color: #cbbbda;
}
.bg-color{
  background-color:rgba(85, 77, 116,0.5);
}
.bg-color-transparent{
  background-color: rgba(179, 156, 199,0.4);
}

/* Buttton Start */
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e17ae;
  background-image: linear-gradient(315deg, #7199EF 0%, #624FF2 74%);
  transition: all 0.3s ease;
}
.btn-9:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
/* Navbar Start */
.navbar-nav {
    font-family: serif;
    font-size: 19px;
    gap: 22px;
}
.navbar-nav a{
  color: #fff;
}
.navbar-nav a:hover{
  color: #746b6b;
}
.header{
  background-color: #2f2929;
  color: #ffff;
}
/* About Start */
.bg-image1 {
  background: rgba(0, 0, 0, 0.7)
    url("./component//assets//images/about/about-bg.jpg");
  background-blend-mode: darken;
}
.bg-image2{
  background-image: url(./component/assets/images/home/bg-4.jpg);
}
.background-img {
  z-index: 1;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

/* Home Start */
.carousel-item{
  width: 100%;
  height: 100vh;
}
.carousel-item img{
  width: 100%;
  height: 100%;
}
.home-content{
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
  overflow: hidden;
}
.border-animation{
  height: 100%;
  width: 100%;
  background-color: #111;
}
.home-content::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)rotate(45deg);
  height: 300px;
  width: 900px;
  background-color: rgb(46, 175, 218);
  animation: move 1.5s infinite;
  z-index: -1;
}
@keyframes move {
  100%{
    transform: translate(-50%, -50%) rotate(225deg);
  }
}

/* Home Border Animation */
.bg-border-animation{
  animation: mymove 5s infinite;
} 
 @keyframes mymove {
  50% {box-shadow: 10px 10px 15px 20px rgb(87, 184, 216);}
}

/* Service Start */
.service-card { 
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  /* z-index: 2; */
  overflow: hidden;
}
 .service-card::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  position: absolute;
  left: 0%;
  top: -98%;
  z-index: -2;
  transition: all 0.4s cubic-bezier(0.77, -0.04, 0, 0.99);
}
.service-card:hover:after {
  top: 0%;
}

/*Footer Icons  */
.icon-social a {
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
  border: 2px solid  #EDEAF5;
  color:  #EDEAF5;
  /* padding: 8px; */
  border-radius: 50px;
  display: inline-block;
  margin: 8px;
}
.icon-social a:hover {
  background: #EDEAF5;
  color:  #B39CC7;
}

/* Course Start */
.border-bottom{
  border-bottom-right-radius: 50%;
}
.bg-card1{
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);}
.bg-card2{
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);}

/* Team Start */
.scrolling-wrapper{
  overflow-x: auto;
}
::-webkit-scrollbar {
    display: none;
}
/* .card-block{
  width: 20px;
  height: 300px;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 24px;
} */
   .tile {
    cursor: pointer;
    width: 15%;
    height: 170px;
    padding: 0px 0px;
    border-radius: 5px;
    background: #02020280;
    overflow: hidden;
    transform: scale(0.7);
    filter: grayscale(1);
    transition: all 0.2s ease;
  }
  .tile img {
    width: 100%;
    height: 100%;
  }
  .members .tile:hover {
    filter: grayscale(0.6);
    transform: scale(0.8);
  }
  .card-section {
    display: none;
  }
  .card-section:target {
    display: block;
  }
  /* .card-img{
    width: 100%;
    height: 300px;
  } */
  .card-img img{
    width: 100%;
    height: 400px;
  }

  .plane {
    position: absolute;
    fill: none;
    stroke-width: 2px;
    stroke: #fff;
    stroke-linecap: square;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transform: translate(0, 0);
}
.mail {
  position: absolute;
  fill: none;
  stroke-width: 2px;
  stroke: #fff;
  stroke-linecap: square;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}